html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: auto; /* Вмикає горизонтальний скрол при зумі */
}

body {
  /*  Block copyrite  */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer / Edge */
  user-select: none;         /* Стандартний синтаксис */


  margin: 0;
  padding: 0;
  width: 100%;

  overflow: hidden;

  min-width: 375px; /* Забороняє стискати сайт менше ніж 1440px */
  max-width: 765px;
  
  background-color: #fafafa;

  /* Центрування через Grid без зламу лівого краю при зумі */
  display: grid;
  justify-content: center;


}

/* Спільний клас для контенту */
.content-container {
  width: 375px;
  min-width: 375px;
  max-width: 375px;
  position: relative;
  box-sizing: border-box;
}
/*


  overflow: hidden;
  width: 100%;
  min-width: 375px;
  max-width: 765px;
  position: relative;
  box-sizing: border-box;
  */














/* Повідомлення за замовчуванням приховане */
.rotate-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #12171d;
  color: #ffffff;
  z-index: 99999;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

/* Якщо пристрій повернуто горизонтально (landscape) */
@media screen and (orientation: landscape) and (max-height: 600px) {
  /* Ховаємо основний контент */
  .frame {
    display: none !important;
  }
  
  /* Показуємо попередження */
  .rotate-warning {
    display: flex !important;
  }
}






















:root {
  /* Common Style Variables */

  /* Color */
  --color-black: #000;
  --color-darkgray: #aaaeb4;
  --color-darkslategray-100: #3f4a56;
  --color-darkslategray-200: #3d4345;
  --color-darkslategray-300: #3b3f43;
  --color-darkslategray-400: #2f2f2f;
  --color-dimgray-100: #6b6e73;
  --color-dimgray-200: #5c6874;
  --color-dimgray-300: #52606e;
  --color-gray-100: #fbfdfd;
  --color-gray-200: #fafafa;
  --color-gray-300: #84898a;
  --color-gray-400: #84878d;
  --color-gray-500: #26292b;
  --color-gray-600: #262626;
  --color-gray-700: #151c20;
  --color-gray-800: #111724;
  --color-gray-900: #141414;
  --color-gray-1000: #100e12;
  --color-gray-1100: #060a16;
  --color-gray-1200: #020613;
  --color-gray-1300: rgba(0, 0, 0, 0.35);
  --color-lightslategray: #7d8890;
  --color-silver: #bec2c6;
  --color-slategray-100: #697787;
  --color-slategray-200: #596675;
  --color-white: #fff;
  --color-whitesmoke-100: #f3f4f5;
  --color-whitesmoke-200: #e8e9e8;

  /* Gap */
  --gap-3: 3px;
  --gap-4: 4px;
  --gap-5: 5px;
  --gap-8: 8px;
  --gap-10: 10px;
  --gap-11: 11px;
  --gap-18: 18px;
  --gap-20: 20px;
  --gap-40: 40px;

  /* Padding */
  --padding-0: 0px;
  --padding-1: 1px;
  --padding-2: 2px;
  --padding-3: 3px;
  --padding-4: 4px;
  --padding-5: 5px;
  --padding-6: 6px;
  --padding-7: 7px;
  --padding-8: 8px;
  --padding-9: 9px;
  --padding-10: 10px;
  --padding-11: 11px;
  --padding-12: 12px;
  --padding-14: 14px;
  --padding-15: 15px;
  --padding-18: 18px;
  --padding-19: 19px;
  --padding-20: 20px;
  --padding-22: 22px;
  --padding-24: 24px;
  --padding-28: 28px;
  --padding-30: 30px;

  /* BorderRadius */
  --br-5: 5px;
  --br-10: 10px;
  --br-15: 15px;

  /* Font */
  --font-inter: Inter, Arial, sans-serif;

  /* FontSize */
  --fs-9: 9px;
  --fs-10: 10px;
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-20: 20px;
  --fs-24: 24px;

  /* Borders */
  --border-1: 3px solid var(--color-whitesmoke-100);
  --border-2: 2px solid var(--color-whitesmoke-100);

  /* Shadows */
  --shadow-drop: 0px 16px 41.7px 10px rgba(0, 0, 0, 0.25);
  --shadow-drop-1: 0px 4px 20.1px 7px rgba(0, 0, 0, 0.25);
  --shadow-drop-2: 0px 4px 20.1px 4px rgba(0, 0, 0, 0.25);

  /* Gradients */
  --gradient-1: linear-gradient(252.44deg, #424243, var(--color-black));
  --gradient-2:
    linear-gradient(90deg, #0a0f13, #12181c), linear-gradient(#131619, #131619);
  --gradient-3: linear-gradient(87.62deg, #ea9142, #efc15b);
  --gradient-4: linear-gradient(88.89deg, #efa636, #f2b33b);
  --gradient-5: linear-gradient(90deg, #0a0f13, #0c1116);
  --gradient-6:
    linear-gradient(87.62deg, #ea9142, #efc15b),
    linear-gradient(87.62deg, #3983f3, #14b6a7);
  --gradient-7: linear-gradient(89.12deg, #ea9143, #e6a141);
  --gradient-8:
    linear-gradient(#0c1115, #0c1115), linear-gradient(90deg, #0a0f13, #12181c),
    linear-gradient(#131619, #131619);

  /* WidthHeights */
  --height-12: 12px;
  --height-24: 24px;
  --height-26: 26px;
  --height-29: 29px;
  --height-21_3: 21.3px;
  --height-26_3: 26.3px;
  --min-w-80: 80px;
  --width-1: 1px;
  --width-15: 15px;
  --width-29: 29px;
  --width-80: 80px;
  --width-375: 375px;
  --width-21_3: 21.3px;
  --width-26_3: 26.3px;
  --width-304_9: 304.9px;

  /* LineHeights */
  --lh-14_8: 14.8px;

  /* LetterSpacings */
  --ls--0_01: -0.01;
  --ls--0_03: -0.03;
  --ls-0_01: 0.01;
  --ls-0_02: 0.02;
  --ls-0_1: 0.1;

  --left-0: 0px;
  --left-11: 11px;
  --top-0: 0px;
  --top-2: 2px;
}
